:root {
    --bs-success-rgb: 71, 222, 152 !important;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Helvetica;
}

.btn-info.text-light:hover,
.btn-info.text-light:focus {
    background: #000;
}
table, tbody, td, tfoot, th, thead, tr {
    border-color: #0000006b !important;
    border-style: solid;
    border-width: 1px !important;
}
#calendar-form{
    background: #f0f8ff;
    padding: 8px;
    border-radius: 15px;
    margin-right: 50px;
}
#sched-form{
    background:#f0f8ff;
}
